* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #2f394c, darkgrey);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    overflow: auto;
    font-weight: 200;
    font-style: normal;
    position: relative;
}
/*Firefox Workaround Pop Up */
.custom-alert {
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.759);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
    text-align: center;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}
.custom-alert img {
    max-width: 20vw;
    border-radius: 10px;
    margin-bottom: 10px;

}
.custom-alert button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: var(--mainBlue);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.custom-alert button:hover {
    background-color: #0056b3;
}
.custom-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}
/*End of Firefox Workaround Pop Up */

/*Black background blured conaintainer for the body*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60vw !important;
    background: var(--mainTransparentGrey);
    backdrop-filter: blur(20px);
    position: relative;
    z-index: 1;
    padding: 2rem;
    width: 40%;
    margin: 2rem auto;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    opacity: 0;
    /* Start invisible */
    animation: fadeIn 0.8s ease-out 0.8s forwards;
    /* Fade in after 1 second */
}

/*Fade in animation*/
@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

/*Loading message "Standort wird aktualisiert"*/
#loadingMessage {
    display: grid;
    place-items: center;
    animation: pulse 2s infinite;
}

/*Raindrops in the background*/
.rain {
    position: fixed;
    width: 100%;
    height: 120%;
    margin-top: -10vh;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}

.drop {
    position: absolute;
    bottom: 100%;
    width: 1px;
    height: 80px;
    background: rgba(255, 255, 255, 0.2);
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.weatherheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*WeatherSearch*/
input {
    font-family: quicksand, sans-serif;
    text-align: center !important;
    border: none;
    background: #cacaca;
    outline: none;
    color: black;
    width: 55vw;
    padding: 0.5rem 2.5rem;
    border-radius: 20px;
}


input::placeholder {
    color: black;
    opacity: 0.7;
}

input:focus::placeholder {
    opacity: 0;
}

/* Added a new rule for inactive state */
input:not(:focus) {
    color: black;
    /* Set color back to white on blur */
    transition: color 0.3s ease;
    /* Add transition for color change */
}

.weathersearch {
    position: relative;
}

.weathersearch i {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 15px;
    color: #fff;
}

/*Suggestions from search*/
#suggestions {
    text-align: center;
    list-style-type: none;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    border-radius: 0px 0px 5px 5px;
    max-width: 55vw;
    ;
    /* Move the element up by 2px */
}


#suggestions li {
    padding: 8px;
    cursor: pointer;
}

#suggestions li:not(:last-child) {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #7d7d7d;
}

#suggestions li:hover {
    background-color: #6767676e;
}

/*Fahrenheit/Celsius toggle*/
.weatherunits {
    position: relative;
    width: 60px;
    height: 30px;
}

.toggle-metric {

    margin-left: -6px;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3px 0;
    ;
    background-color: #06affdba;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.2s;
}


.toggle-checkbox:checked+.toggle-label {
    background-color: #66bb6a;
}

.toggle-metric,
.toggle-imperial {
    position: relative;

    z-index: 2;
}

.toggle-handle {
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: #1e1e1e;
    border-radius: 50%;
    transition: left 0.2s;
}

.toggle-checkbox:checked+.toggle-label .toggle-handle {
    left: 32px;
}

.toggle-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    pointer-events: none;
}


.weatherunits span {
    cursor: pointer;
}

.weatherunits span:first-child {
    margin-right: 0.5rem;
}

.weatherbody {
    text-align: center;
    margin-top: 3rem;
}

.weatherdatetime {
    margin-bottom: 2rem;
    font-size: 14px;
}


/* 3Day forecast */
.three-day-forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px 2vw 0 2vw !important;
    min-width: 40vw;
    /* Ensure it takes the full width */
    text-align: center;
    /* Center text within the container */
    background-color: #1e1e1e;
    border-radius: 10px;
    gap: 20px;
}

.forecast-container {
    display: flex;
    justify-content: center;

}

.forecast-card {
    padding: 5%;
}

.forecast-day {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    flex: 1;
    margin: 0 10px;

}

.forecast-day h3 {
    margin-bottom: 10px;
}

.forecast-day img {
    width: 50px;
    height: 50px;
}

.forecast-day p {
    margin: 5px 0;
}

/*End of forecast*/
.weathericon img {
    width: 100px;
}

.weathertemperature {
    font-size: 1.75rem;
}

.weatherminmax {
    display: flex;
    justify-content: center;
}

.weatherminmax p {
    font-size: 14px;
    margin: 0.5rem;
}

/*Weather Infos fühlt sich an wie, Feuchtigkeit, Wind, Luftdruck*/
.weatherinfo {
    width: 40vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

}

.weathercard {
    display: flex;
    align-items: center;
    color: #1e1e1e;
    padding: 1rem;
    border-radius: 10px;

}

.weathercard:nth-of-type(1) {
    background: var(--mainRed);
}

.weathercard:nth-of-type(2) {
    background-color: var(--mainBlue);
}

.weathercard:nth-of-type(3) {
    background-color: var(--mainGreen);
}

.weathercard:nth-of-type(4) {
    background-color: var(--mainYellow);
}

.weathercard i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.weathercard p {
    font-size: 14px;
}

/*Mobile View*/

@media(max-width: 936px) {
   
    #suggestions {
        font-size: 20px; /* Adjust the font size as needed */
        margin: auto;
    }
    #suggestions li {
       margin-top: 15px; /* Adjust the font size as needed */
    }
    .container {
        width: 90%;
        align-items: normal;
    }
    input[type="text"] {
        margin: auto;
        width: 100%;
        padding: 20px; 
        border-radius: 35px;
        font-size: 20px;
    }



    .weatherheader {
        flex-direction: column;
    }

    .weatherunits {
        margin: 0 auto;
        text-align: center;
        margin-top: 1rem;
    }

    .weathercard {
        max-width: 100vw;
        ;
    }

    .three-day-forecast {
        padding: 15px;
    }

    .forecast-card {
        padding: 2%;
        max-width: 30%;
    }

    .weatherinfo {
        width: 95%;
        grid-template-columns: none;
        margin-left: 2vw;

    }
}