:root {
    --mainRed: #c24838; /* Replace with your color */
    --mainBlue: #309ae5; /* Replace with your color */
    --mainGreen: #8bc257; /* Replace with your color */
    --mainTransparentGrey: #17171749; /* Replace with your color */
}